<!---->
<launch>
	<include file="$(find rbx1_bringup)/launch/fake_turtlebot.launch"/>

	<node pkg="slam_planner"  type="slam_planner_node"  name="slam_planner_node"  respawn="false"  output="screen">
  	  	<rosparam file="$(find improved_local_planner)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find improved_local_planner)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find improved_local_planner)/params/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find improved_local_planner)/params/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find improved_local_planner)/params/DBlocal_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />
		<param name="base_local_planner" value="improved_local_planner/DBLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />
	</node>


	<!--  ****** Maps ***** -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find improved_local_planner)/params/office.yaml" output="screen">
                <param name="frame_id" value="map"/>
	</node>

        <node name="map2odom"   pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /map /odom 100"/>

	 <!--  **************** Visualisation ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find improved_local_planner)/cfg/slam_newplanner_test.rviz"/>

</launch>
